@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Golos+Text:wght@400..900&display=swap");

:root {
  --btn-color: #fed403;
  --btn-hover: #313131;
  --body-family: "Golos Text", sans-serif;
  --heading-family: "Cal Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-family);
}

/* navbar */
.nav {
  position: absolute; /* key change */
  top: 30px; /* your 20px spacing */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.logo {
  width: 200px;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu ul li {
  cursor: pointer;
  font-size: 18px;
}

.btn-primary {
  padding: 20px 30px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: var(--btn-hover);
  transition: 0.5s;
  color: white;
  transform: translateY(2px);
}

.btn {
  padding: 10px 30px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  transform: translateY(2px);
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* hero */
.hero {
  position: relative;
  background: url(/images/slider_00001.jpg) center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center; /* vertical center */
}

.hero-content {
  max-width: 700px;
  padding: 40px 0 0 40px;
}
.sub-head {
  font-family: var(--body-family);
  color: #fed403;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
}

.hero-content h1 {
  font-family: var(--heading-family);
  font-size: 100px;
  color: white;
  line-height: 110px;
  font-weight: 400;
  padding: 10px 0;
}

.paragraph {
  font-family: var(--body-family);
  font-size: 15px;
  line-height: 22px;
  color: rgb(255, 255, 255, 0.8);
  padding-bottom: 15px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* services Cards */
body {
  background: #f2f2f2;
  font-family: sans-serif;
}

.service-card {
  background: #2f2f2f;
  color: white;
  width: 300px;
  padding: 28px;
}

.icon-box {
  width: 52px;
  height: 52px;
  background: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2c200;
  margin-bottom: 20px;
}

.service-card h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.line {
  width: 55px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin: 18px 0;
}

.service-card p {
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.7;
}
/* mobile device */

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
  }
  .logo {
    width: 100px;
  }
  .menu-toggle {
    display: block;
    margin: 10px 0;
  }
  .menu {
    width: 100%;
  }
  .menu ul {
    flex-direction: column;
    width: 100%;
    display: none;
    gap: 10px;
  }
  .menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #555;
  }
  .menu.active ul {
    display: flex;
  }

  .nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
    display: none;
  }

  /* hero content */
  .hero {
    height: 80vh;
  }
  .hero-content {
    width: 100%;
    padding: 20px;
  }
  .hero-content h1 {
    font-size: 66px;
    line-height: 70px;
  }
}
